.footer-link {
    cursor: pointer;
    font-family: "Symtext";
    font-size: 20px;
    color: white;
    display: inline-block;
    position: relative;
}

/* Responsive */
@media (max-width: 768px) {
    .footer-link {
        cursor: pointer;
        font-family: "Symtext";
        font-size: 15px;
        color: white;
        display: inline-block;
        position: relative;
        margin-bottom: 45%;
    }
}
