.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    max-height: 100vh;
    overflow: auto;
}

.button {
    padding: 10px 20px;
}

/* Responsive */
@media (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: line; /* Change de row à column pour l'affichage mobile */
        align-items: center;
        justify-content: center;
        gap: 1px;
    }

    .button {
        font-size: 2px!important; /* Taille plus petite sur les petits écrans */
    }
}
